@import "variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  .logo-header {
    width: 200px;
    min-width: 115px;
    height: 40px;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  .navbar {
    .menu__items {
      display: flex;
      flex-wrap: wrap;
      gap: 5px 49px;
    }
  }
}
.header:not(:last-child) {
  margin-bottom: 100px;
}
.burger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 34px;
  .line {
    &-up,
    &-center,
    &-down {
      display: inline-block;
      height: 5px;
      border-radius: 5px;
      width: 100%;
      background: $f-clr-title;
      transition: all ease-in-out 0.28s;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.burger.burger-active {
  .line {
    &-center {
      display: none;
    }
    &-up {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: bottom left;
      transform: rotate(45deg);
    }
    &-down {
      position: absolute;
      bottom: 4.5px;
      left: 0;
      transform-origin: top left;
      transform: rotate(-45deg);
    }
  }
}

.navbar__menu {
}
.menu__item {
}
.menu__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: $f-clr-title;
  font-weight: 700;
  font-size: 0, 9375rem;
  letter-spacing: -0, 0293125rem;
  padding-bottom: 10px;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  transition: all ease-in 0.28s;
}
.menu__link:hover::before {
  background-color: $clr-more;
  animation-name: bd-w;
  animation-duration: 0.5s;
}
@keyframes bd-w {
  0% {
    width: 5%;
  }
}
.header__btn {
  background-color: $clr-primary;
  border: 2px solid $clr-primary;
  transition: all ease-in-out 0.28s;
}
.header__btn:hover {
  cursor: pointer;
  color: $clr-primary;
  background-color: #fff;
}
@media (max-width: 768px) {
  .header {
    .navbar {
      display: none;
    }
  }
}
