.logos:not(:last-child) {
  margin-bottom: 150px;
}
.logos__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 1440px) {
  .logos {
    &:not(:last-child) {
      margin-bottom: calc(40px + (150 - 40) * ((100vw - 320px) / (1440 - 320)));
    }
  }
}
