$ff-primary: 'DM Sans', sans-serif;
$ff-more: 'Mulish', sans-serif;

$f-clr-primary: #696871;
$f-clr-title: #19191B;
$f-clr-price: #1D293F;

$bg-clr-card: #F8F8F8;

$clr-primary: #FF7143;
$clr-more: #5454D4;

$container-max-width: 1069px;
$page-max-width: 1440px;
