//    ---FONTS---
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Mulish&display=swap");

//    ---RESET-STYLE---
@import "scss/variables";
@import "scss/reset";

@import "scss/header";
@import "scss/subscription";
@import "scss/logos";
@import "scss/subscription-index";
@import "scss/metrics";
@import "scss/plan";
//

body {
  height: 100vh;
  font-family: $ff-primary;
  color: $f-clr-primary;
}

.wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 30px;
}

[class*="__container"] {
  max-width: 1090px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
}

.btn-started {
  position: relative;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: bold;
  letter-spacing: -0.0331875rem;
  min-height: 60px;
  padding: 5px;
  border-radius: 10px;
  min-width: 211px;
  transition: all ease-in-out 0.28s;
}

.btn-started:active {
  transform: translate(-1px, 1px);
}
